---
author: Sylvain Poulain
title: Solutions pour simplifier le développement et l'alimentation d'infrastructures de données géospatiales
description: Présentation de G2OI
design: white 
---


<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
# G2OI 
by Nicolas Coquillas, Corentin Souton, Benjamin Robert, Sylvain Poulain

<br>

Présentation: 
  - Click [RGR2022 - G2OI](/g2oi/rgr2022) 

<br>
<br>

Also feel free to check out [G2OI Website](http://141.95.158.113/) :)

            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
